{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<div class="row" style="margin-top: 10%">
    {% for product in pagination %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://economic-definition.com/images/x2856010039_480.jpg.pagespeed.ic.RxOf407lM_.webp" height="100px" width="100px">
                    <div class="caption">
                        <h3>{{ (product.title) }}</h3>
                        </div>
                </div>
            </div>

    {% endfor %}
</div>



    <div class="row navigation ">
    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    </div>
{% endblock %}
