{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

    <div class="row" style="margin-top: 10%">
        <div class="col-lg-3">
            <ul class="list-group">
                {% for categoryList in categories %}
                    <li class="list-group-item {% if category and   category.id == categoryList.id %}list-group-item-success{% endif %}">
                        <span class="badge ">{{ (categoryList.products.count) }}</span>
                        <a  href="{{ path('current_category',{'category_slug':categoryList.slug}) }}">{{ categoryList.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9">
            {% for categoryList in categories %}
                {% for product in categoryList.products %}

                    {% if category and  product.category.id == category.id  %}
                    <div class="col-sm-8 col-md-6">
                        <div class="thumbnail">
                            <img src="http://economic-definition.com/images/x2856010039_480.jpg.pagespeed.ic.RxOf407lM_.webp"
                                 height="100px" width="100px">
                            <div class="caption">
                                <h3>{{ (product.title) }}</h3>
                            </div>
                        </div>
                    </div>
            {% endif %}
                {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
