<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li {% if app.request.attributes.get('_route') =='homepage' %}class="active"{% endif %}><a href="{{ path('homepage') }}">Main</a></li>
                    <li {% if app.request.attributes.get('_route') =='category_list' %}class="active"{% endif %}><a href="{{ path('category_list') }}">Category</a></li>
                    <li {% if app.request.attributes.get('_route') =='sonata_admin_dashboard' %}class="active"{% endif %}><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
